div(ng-controller='IpTreeCtrl')
  div.treeview(ng-dblclick='newIpTab($event)', kendo-tree-view='treeview', k-options='kOptions',
    ng-right-click='contextMenu($event)', context-menu, data-target='context-menu')
