div#welcome.panel.panel-default
  .panel-heading
    h3.text-danger IPdb Web
  .panel-body
    h4 А занете ли Вы, что:
    //h6  
    //  ul
    //    li Для того, чтобы развернуть правую вкладку на весь экран (удобно для просмотра таблиц) нужно сделать двойной клик по этой вкладке
    //    li Двойной щелчок по левой вкладке или по левому табу сворачивает дерево
    div.list-group
      a.list-group-item(href='#')
        h4.list-group-item-heading Развернуть правую вкладку на весь экран
        p.list-group-item-text
          | Для того, чтобы развернуть правую вкладку на весь экран (удобно для работы с таблицами) нужно сделать двойной клик по этой вкладке
      a.list-group-item(href='#')
        h4.list-group-item-heading Быстро свернуть дерево
        p.list-group-item-text
          | Двойной щелчок по левой вкладке или по левому табу сворачивает дерево
      a.list-group-item(href='#')
        h4.list-group-item-heading Быстрый поиск в адресной строке
        p.list-group-item-text.
          Для быстрого доступа к карточке объекта не всегда нужно пользоваться поиском, можно использовать адресную строку Вашего браузера.
          Например, попробуйте добавить к адресной строке:
        ul
          li /srv-000-001 - откроется карточка сервера
          li /172.20.1.1 - откроется карточка устройства, один из интерфейсов которого равен 172.20.1.1
          li /172.20.1.0/24 - откроется карточка подсети 172.20.1.0/24
