extends error
block main
    <h1 style="font-size: 150px;">OUCH!</h1>
    <p><span style="font-size: 50px; color: white;">Ошибка 404</span></p>
    <br />
    <p style="font-size: 16px;">К сожалению, запрашиваемой Вами страницы не существует. Возможно страница удалена или неправильно введен адрес, или после обновления сайта адрес страницы изменился. Ищите администратора сайта, он все знает.</p>
    <small class="text-muted">Copyright(c) 2014</small>
    
