extends layout
block body
  div.container.error-page
    div.row
      div.col-xs-10.col-xs-offset-1.jumbotron.shadow.bg-gray
        h1(style="font-size: 120px;") ERROR
          span.label.label-danger(style="font-size: 45px; vertical-align: top;") #{erStatus}
        br
        div.row
          div.col-xs-10.col-xs-offset-1
            div.well.text-muted
              h4.text-color-tab #{erMsg}
        small.text-muted Что-то пошло не так или у вас недостаточно прав для выполнения этого действия. Если ошибка будет повторяться, пожалуйста свяжитесь с администраторами сайта.
        
  
  footer
    include footer.jade