extends layout
block body
  div.container.error-page
    div.row
      div.col-xs-10.col-xs-offset-1.jumbotron.shadow.bg-gray
        h1(style="font-size: 80px;") #{header}
          span.label.label-danger(style="font-size: 45px; vertical-align: top;") #{subHeader}
        br
        div.row
          div.col-xs-10.col-xs-offset-1
            div.well.text-muted
              h5.text-color-tab #{info}
              h4 #{infoBig}
        br
        br
  
  footer
    include footer.jade