.modal-header.clearfix
  h3.modal-title.pull-left Редактировать IP-адрес для {{iface.name}}
  button.btn.btn-success.pull-right(type='button' ng-click='goToNet()'): span.glyphicon.glyphicon-new-window
.modal-body
  div.error(ng-if='error')
    alert(type='warning', close='closeAlert()')
      strong Ошибка: 
      | {{error}}

  form.form-horizontal(role='form')
    .form-group
    .form-group(ng-class='{"has-error": data.iperr === "err", "has-success": data.iperr === "success"}')
      label.control-label.col-sm-4(for='input1') IP-адрес
      .col-sm-8 
        input#input1.form-control(type='text', placeholder='{{data.unchanged}}', list='ip-addrs', ng-model='data.ip', ng-change='onIpChange(data.ip)')
        datalist#ip-addrs
          select
            option(ng-repeat='item in ipFreeAddrs', value='{{item.ip}}') {{item.net}}
    div.form-group
      div.input-group-sm(ng-repeat='dns in dnsNames')
        label.control-label.col-sm-4 DNS-имя {{$index + 1}}:
        .col-sm-8
          input.form-control(type='text', placeholder='ДНС имя', ng-value='dns.fqdn', disabled, style='margin-bottom: 5px;')
    .form-group
      .col-sm-offset-4.col-sm-8
        .checkbox
          label(for='input2')
            input#input2(type='checkbox', ng-model='data.isDyn')
            | Динамический (DHCP)

.modal-footer
  button.btn.btn-danger.pull-left(ng-click='delete()') Удалить
  button.btn.btn-default(ng-click='cancel()') Отмена
  button.btn.btn-primary(ng-click='confirm()') Сохранить
